github "ReactiveX/RxSwift"
github "mac-cain13/R.swift.Library"
github "SwiftyJSON/SwiftyJSON"
github "DianQK/RxExtensions"
github "RxSwiftCommunity/RxDataSources"
github "inamiy/RxAutomaton"
github "Alamofire/Alamofire"
github "jdg/MBProgressHUD"
github "SnapKit/SnapKit"
github "nvzqz/RandomKit"
github "questbeat/QBImagePicker" "master"
github "nvzqz/RandomKit"
